<!doctype html>
<html lang="en">
<body>
<header>
 <navbar>
  <ul>
 <li>home</li>
 <li>about us</li>
 <li>contact us</li>
 <li>blogs</li>
  </ul>
 </navbar>
</header>
<main>
{% if title %}<h1 style="background-color:green">{{title}}</h1>{% endif %}
{{thisisme}}
{{content}}
</main>
</body>
</html>
